.header {
  grid-area: header;
  min-height: 110px;
  background-image: url("/header.jpg");
}
.stats {
  grid-area: stats;
}
.conversations {
  grid-area: conversations;
}
.latestTweets {
  grid-area: latestTweets;
}
.footer {
  grid-area: footer;
}

.App {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "latestTweets stats conversations"
    "footer  footer footer";
  background-color: #fff;
  color: #444;
}


.box {
  width: auto;
  margin: 50px 40px;
  background: #00aced;
  padding: 20px;
  text-align: center;
  color: #fff;
  font-family: arial;
  position:relative;
}

.sb1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #00aced;
  border-right: 10px solid transparent;
  border-top: 10px solid #00aced;
  border-bottom: 10px solid transparent;
  bottom: -20px;
  left: 20px;
}

.allCountryStats {
  margin-top: 50px;
  margin-right: 25px;
  width: auto;
  background: linear-gradient(#55efc4, #ff7675);
  padding: 20px;
}

div.countryStats {
  overflow: hidden;
  color: #1c2022;
  width: auto;
  max-width: 100%;
  min-width: 220px;
}
